In [99]:
import pandas as pd 
import numpy as np

In [110]:
#set display options
pd.set_option('display.max_columns', None)

In [112]:
#load in csv's for whole year individually. Using JC Data due to Tableau Size limit

June = pd.read_csv("Data/JC Data/JC-202006-citibike-tripdata.csv")
July = pd.read_csv("Data/JC Data/JC-202007-citibike-tripdata.csv")
August = pd.read_csv("Data/JC Data/JC-202008-citibike-tripdata.csv")
September = pd.read_csv("Data/JC Data/JC-202009-citibike-tripdata.csv")
October = pd.read_csv("Data/JC Data/JC-202010-citibike-tripdata.csv")
November = pd.read_csv("Data/JC Data/JC-202011-citibike-tripdata.csv")
December = pd.read_csv("Data/JC Data/JC-202012-citibike-tripdata.csv")
January = pd.read_csv("Data/JC Data/JC-202101-citibike-tripdata.csv")
February = pd.read_csv("Data/JC Data/JC-202102-citibike-tripdata.csv")
March = pd.read_csv("Data/JC Data/JC-202103-citibike-tripdata.csv")
April  = pd.read_csv("Data/JC Data/JC-202104-citibike-tripdata.csv")
May = pd.read_csv("Data/JC Data/JC-202105-citibike-tripdata.csv")

In [102]:
#Cleaning Data! fist up date 

# Feb 2021 starts using simple time cut off after decimal
# need to make all the same format
# 2020-06-01 01:19:59.2090 chop off/convert to 2021-02-03 23:11:28

months_that_need_time_chop = [June, July, August, September, October, November, December, January]

columns_that_need_time_chop = ['starttime', 'stoptime']

# It's Processing Time!

# take off the last 5 characters columns_that_need_time_chop
for month in months_that_need_time_chop:
    for column in columns_that_need_time_chop:
        month[column] = month[column].str[:-5]

In [108]:
# Combine months into one big dataframe!

dataframes = [June, July, August, September, October, November, December, January, February, March, April, May]
combined = pd.concat(dataframes)
combined

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,122.0,2020-06-01 00:02:21,2020-06-01 00:04:24,3792.0,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639.0,Harborside,40.719252,-74.034234,42489.0,Subscriber,1987.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1282.0,2020-06-01 00:12:27,2020-06-01 00:33:50,3198.0,Heights Elevator,40.748716,-74.040443,3276.0,Marin Light Rail,40.714584,-74.042817,42183.0,Subscriber,1988.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,186.0,2020-06-01 01:19:59,2020-06-01 01:23:05,3275.0,Columbus Drive,40.718355,-74.038914,3681.0,Grand St,40.715178,-74.037683,42140.0,Subscriber,1987.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,131.0,2020-06-01 01:26:42,2020-06-01 01:28:53,3267.0,Morris Canal,40.712419,-74.038526,3681.0,Grand St,40.715178,-74.037683,42120.0,Subscriber,1987.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,266.0,2020-06-01 01:27:33,2020-06-01 01:32:00,3639.0,Harborside,40.719252,-74.034234,3186.0,Grove St PATH,40.719586,-74.043117,42437.0,Subscriber,1972.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62FF3FEDAAD7FCB3,docked_bike,2021-05-31 12:46:22,2021-05-31 12:52:29,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033320,40.746413,-74.037977,casual
45039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E742AEA7068E0E4A,docked_bike,2021-05-31 16:34:19,2021-05-31 16:59:21,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual
45040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E769F9EE96D6433A,docked_bike,2021-05-17 22:52:35,2021-05-17 23:13:37,Astor Place,JC077,Astor Place,JC077,40.719282,-74.071261,40.719282,-74.071262,casual
45041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EC973614DCA179A2,docked_bike,2021-05-31 20:48:58,2021-05-31 21:16:02,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual
45042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3571180FE5C52CB1,docked_bike,2021-05-23 14:28:43,2021-05-23 14:30:59,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual

In [137]:
# Combine columns to get rid of duplicates due to naming conventions. 

combined["started_at"] = combined["started_at"].combine_first(combined['starttime'])
combined['ended_at'] = combined['ended_at'].combine_first(combined["stoptime"])
combined['start_station_name'] = combined['start_station_name'].combine_first(combined['start station name'])
combined['end_station_name'] = combined['end_station_name'].combine_first(combined['end station name'])
combined['start_lat'] = combined['start_lat'].combine_first(combined['start station latitude'])
combined['end_lat'] = combined['end_lat'].combine_first(combined['end station latitude'])
combined['start_lng'] = combined['start_lng'].combine_first(combined['start station longitude'])
combined['end_lng'] = combined['end_lng'].combine_first(combined['end station longitude'])
combined['member_casual'] = combined['member_casual'].combine_first(combined['usertype'])
combined 

# drop things we don't need 
cleaned = combined.drop(labels=['start station name', 'end station name', 'usertype', 'birth year', 
                                "tripduration", 'starttime', 'stoptime', 'start station id', 
                                'start station latitude', 'start station longitude', 'rideable_type', 
                                'end station id', 'end station latitude', 'end station longitude', 
                                'bikeid', 'gender', 'ride_id', 'start_station_id', 'end_station_id' ], axis = 1)
cleaned

,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,2020-06-01 00:02:21,2020-06-01 00:04:24,Columbus Dr at Exchange Pl,Harborside,40.716870,-74.032810,40.719252,-74.034234,Subscriber
1,2020-06-01 00:12:27,2020-06-01 00:33:50,Heights Elevator,Marin Light Rail,40.748716,-74.040443,40.714584,-74.042817,Subscriber
2,2020-06-01 01:19:59,2020-06-01 01:23:05,Columbus Drive,Grand St,40.718355,-74.038914,40.715178,-74.037683,Subscriber
3,2020-06-01 01:26:42,2020-06-01 01:28:53,Morris Canal,Grand St,40.712419,-74.038526,40.715178,-74.037683,Subscriber
4,2020-06-01 01:27:33,2020-06-01 01:32:00,Harborside,Grove St PATH,40.719252,-74.034234,40.719586,-74.043117,Subscriber
...,...,...,...,...,...,...,...,...,...
45038,2021-05-31 12:46:22,2021-05-31 12:52:29,Clinton St & 7 St,7 St & Monroe St,40.745420,-74.033320,40.746413,-74.037977,casual
45039,2021-05-31 16:34:19,2021-05-31 16:59:21,Clinton St & 7 St,Clinton St & 7 St,40.745420,-74.033320,40.745420,-74.033320,casual
45040,2021-05-17 22:52:35,2021-05-17 23:13:37,Astor Place,Astor Place,40.719282,-74.071261,40.719282,-74.071262,casual
45041,2021-05-31 20:48:58,2021-05-31 21:16:02,Clinton St & 7 St,Clinton St & 7 St,40.745420,-74.033320,40.745420,-74.033320,casual
45042,2021-05-23 14:28:43,2021-05-23 14:30:59,Clinton St & 7 St,Clinton St & 7 St,40.745420,-74.033320,40.745420,-74.033320,casual

In [140]:
# Export Dataframe to CSV 

cleaned.to_csv("Data/cleaned_JC.csv")