In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
{
    "Name": [
        "Braund, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnell, Miss. Elizabeth",
    ],
    "Age": [22, 35, 58],
    "Sex":["male", "male", "female"],
    
    }
)

In [3]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [33]:
#load in csv's for whole year. Using JC Data due to Tableau Size limit
June = pd.read_csv("Data/JC Data/JC-202006-citibike-tripdata.csv")
July = pd.read_csv("Data/JC Data/JC-202007-citibike-tripdata.csv")
August = pd.read_csv("Data/JC Data/JC-202008-citibike-tripdata.csv")
September = pd.read_csv("Data/JC Data/JC-202009-citibike-tripdata.csv")
October = pd.read_csv("Data/JC Data/JC-202010-citibike-tripdata.csv")
November = pd.read_csv("Data/JC Data/JC-202011-citibike-tripdata.csv")
December = pd.read_csv("Data/JC Data/JC-202012-citibike-tripdata.csv")
January = pd.read_csv("Data/JC Data/JC-202101-citibike-tripdata.csv")
February = pd.read_csv("Data/JC Data/JC-202102-citibike-tripdata.csv")
March = pd.read_csv("Data/JC Data/JC-202103-citibike-tripdata.csv")
April  = pd.read_csv("Data/JC Data/JC-202104-citibike-tripdata.csv")
May = pd.read_csv("Data/JC Data/JC-202105-citibike-tripdata.csv")

dataframes = [June, July, August, September, October, November, December, January, February, March, April, May]
result = pd.concat(dataframes)

In [34]:
pd.set_option('display.max_columns', None)
result

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,122.0,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792.0,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639.0,Harborside,40.719252,-74.034234,42489.0,Subscriber,1987.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1282.0,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198.0,Heights Elevator,40.748716,-74.040443,3276.0,Marin Light Rail,40.714584,-74.042817,42183.0,Subscriber,1988.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,186.0,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275.0,Columbus Drive,40.718355,-74.038914,3681.0,Grand St,40.715178,-74.037683,42140.0,Subscriber,1987.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,131.0,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267.0,Morris Canal,40.712419,-74.038526,3681.0,Grand St,40.715178,-74.037683,42120.0,Subscriber,1987.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,266.0,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639.0,Harborside,40.719252,-74.034234,3186.0,Grove St PATH,40.719586,-74.043117,42437.0,Subscriber,1972.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62FF3FEDAAD7FCB3,docked_bike,2021-05-31 12:46:22,2021-05-31 12:52:29,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033320,40.746413,-74.037977,casual
45039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E742AEA7068E0E4A,docked_bike,2021-05-31 16:34:19,2021-05-31 16:59:21,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual
45040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E769F9EE96D6433A,docked_bike,2021-05-17 22:52:35,2021-05-17 23:13:37,Astor Place,JC077,Astor Place,JC077,40.719282,-74.071261,40.719282,-74.071262,casual
45041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EC973614DCA179A2,docked_bike,2021-05-31 20:48:58,2021-05-31 21:16:02,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual
45042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3571180FE5C52CB1,docked_bike,2021-05-23 14:28:43,2021-05-23 14:30:59,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual

In [52]:
# Feb 2021 starts using simpler time cut off at decimal
# need to make all the same format
# 2020-06-01 01:19:59.2090 chop off/convert to 2021-02-03 23:11:28

months_that_need_time_chop = [June, July, August, September, October, November, December, January]

columns_that_need_time_chop = ['starttime', 'stoptime']

# It's Processing Time!

# for month in months_that_need_time_chop:
#     for column in columns_that_need_time_chop:
#         month[columns_that_need_time_chop[0]] = month[columns_that_need_time_chop[0]]
#         month[columns_that_need_time_chop[1]]

for month in months_that_need_time_chop:
    for column in columns_that_need_time_chop:
        print(month[column][:-50])
        print("pride"[:-2])

#combine columns 
#result["started_at"] = result["started_at"].combine_first(result['starttime'])
October

0        2020-06-01 00:02:21.7500
1        2020-06-01 00:12:27.1090
2        2020-06-01 01:19:59.2090
3        2020-06-01 01:26:42.2050
4        2020-06-01 01:27:33.7090
                   ...
36914    2020-06-30 23:48:48.1120
36915    2020-06-30 23:50:53.1270
36916    2020-06-30 23:53:19.7380
36917    2020-06-30 23:54:44.0100
36918                         NaN
Name: starttime, Length: 36919, dtype: object
pri
0        2020-06-01 00:04:24.3250
1        2020-06-01 00:33:50.0540
2        2020-06-01 01:23:05.8930
3        2020-06-01 01:28:53.8040
4        2020-06-01 01:32:00.1890
                   ...
36914    2020-07-01 00:58:45.9430
36915    2020-06-30 23:55:51.6200
36916    2020-07-01 00:40:28.5760
36917    2020-07-01 00:40:13.6470
36918                         NaN
Name: stoptime, Length: 36919, dtype: object
pri
0        2020-07-01 00:23:19.8220
1        2020-07-01 00:27:45.2420
2        2020-07-01 00:34:17.8680
3        2020-07-01 00:51:07.5310
4        2020-07-01 00:51:16.3880
                   ...
38673    2020-07-31 23:49:23.5520
38674    2020-07-31 23:49:55.5170
38675    2020-07-31 23:51:37.3790
38676    2020-07-31 23:56:33.6770
38677                         NaN
Name: starttime, Length: 38678, dtype: object
pri
0        2020-07-01 01:02:13.2980
1        2020-07-01 00:47:49.1960
2        2020-07-01 00:47:24.6310
3        2020-07-01 01:15:56.0200
4        2020-07-01 01:35:58.4590
                   ...
38673    2020-07-31 23:52:10.8100
38674    2020-07-31 23:52:07.0790
38675    2020-08-01 00:08:20.6900
38676    2020-07-31 23:59:18.8610
38677                         NaN
Name: stoptime, Length: 38678, dtype: object
pri
0        2020-08-01 00:00:16.5960
1        2020-08-01 00:00:46.3900
2        2020-08-01 00:02:38.9250
3        2020-08-01 00:03:27.0270
4        2020-08-01 00:03:57.4810
                   ...
43260    2020-08-31 23:39:04.0190
43261    2020-08-31 23:40:40.3290
43262    2020-08-31 23:43:15.8540
43263    2020-08-31 23:46:19.9130
43264                         NaN
Name: starttime, Length: 43265, dtype: object
pri
0        2020-08-01 00:09:38.5610
1        2020-08-01 00:04:42.8890
2        2020-08-01 00:09:03.7590
3        2020-08-01 00:25:09.2120
4        2020-08-01 01:36:38.5000
                   ...
43260    2020-08-31 23:52:47.5250
43261    2020-08-31 23:44:04.7280
43262    2020-08-31 23:45:58.4550
43263    2020-08-31 23:53:00.3610
43264                         NaN
Name: stoptime, Length: 43265, dtype: object
pri
0        2020-09-01 00:15:58.6470
1        2020-09-01 00:49:00.7370
2        2020-09-01 00:51:44.5870
3        2020-09-01 00:52:48.3160
4        2020-09-01 00:56:16.7170
                   ...
53826    2020-10-13 15:03:05.3220
53827    2020-10-13 15:04:16.8400
53828    2020-10-13 15:05:35.0860
53829    2020-10-13 15:09:03.4890
53830                         NaN
Name: starttime, Length: 53831, dtype: object
pri
0        2020-09-01 00:19:40.8750
1        2020-09-01 00:52:14.3640
2        2020-09-01 00:56:17.7160
3        2020-09-01 01:16:28.0490
4        2020-09-01 01:00:31.0870
                   ...
53826    2020-10-13 15:11:18.0610
53827    2020-10-13 15:16:12.3870
53828    2020-10-13 15:10:05.3430
53829    2020-10-13 15:15:43.9750
53830                         NaN
Name: stoptime, Length: 53831, dtype: object
pri
0        2020-10-01 00:02:40.2600
1        2020-10-01 00:02:53.5020
2        2020-10-01 00:04:31.3160
3        2020-10-01 00:05:18.3680
4        2020-10-01 00:09:17.5990
                   ...
30079    2020-10-31 23:24:41.8040
30080    2020-10-31 23:29:49.3050
30081    2020-10-31 23:32:22.8650
30082    2020-10-31 23:33:22.7310
30083                         NaN
Name: starttime, Length: 30084, dtype: object
pri
0        2020-10-01 00:05:17.0140
1        2020-10-01 00:05:16.9650
2        2020-10-01 00:09:36.3840
3        2020-10-01 00:23:36.1240
4        2020-10-01 00:13:55.5150
                   ...
30079    2020-10-31 23:26:53.2340
30080    2020-10-31 23:35:27.8680
30081    2020-10-31 23:49:57.5320
30082    2020-10-31 23:35:59.4930
30083                         NaN
Name: stoptime, Length: 30084, dtype: object
pri
0        2020-11-01 00:11:32.6250
1        2020-11-01 00:14:20.4820
2        2020-11-01 00:22:55.8820
3        2020-11-01 00:41:37.4270
4        2020-11-01 00:53:21.2340
                   ...
21268    2020-11-30 22:21:44.1090
21269    2020-11-30 22:39:32.8370
21270    2020-11-30 23:08:40.1870
21271    2020-11-30 23:09:27.0180
21272                         NaN
Name: starttime, Length: 21273, dtype: object
pri
0        2020-11-01 00:24:09.5850
1        2020-11-01 00:24:04.7820
2        2020-11-01 00:29:39.0950
3        2020-11-01 00:49:55.7010
4        2020-11-01 00:55:52.8060
                   ...
21268    2020-11-30 22:26:58.3100
21269    2020-11-30 22:49:01.3610
21270    2020-11-30 23:22:50.0830
21271    2020-11-30 23:15:37.3330
21272                         NaN
Name: stoptime, Length: 21273, dtype: object
pri
0        2020-12-01 00:02:50.1450
1        2020-12-01 00:11:57.3910
2        2020-12-01 00:14:49.3610
3        2020-12-01 00:45:06.3680
4        2020-12-01 01:17:17.0110
                   ...
11687    2020-12-31 22:38:25.4680
11688    2020-12-31 22:59:05.5250
11689    2020-12-31 23:07:44.0030
11690    2020-12-31 23:18:00.2630
11691                         NaN
Name: starttime, Length: 11692, dtype: object
pri
0        2020-12-01 00:05:16.1940
1        2020-12-01 00:21:30.2510
2        2020-12-01 00:21:16.8730
3        2020-12-01 00:48:14.4280
4        2020-12-01 01:27:11.9400
                   ...
11687    2020-12-31 22:49:18.5150
11688    2020-12-31 23:15:28.3710
11689    2020-12-31 23:36:54.4710
11690    2020-12-31 23:43:19.8590
11691                         NaN
Name: stoptime, Length: 11692, dtype: object
pri
0        2021-01-01 00:03:35.5100
1        2021-01-01 00:23:32.9250
2        2021-01-01 00:23:50.7940
3        2021-01-01 00:31:09.0770
4        2021-01-01 00:35:52.1900
                   ...
11617    2021-01-31 20:03:42.4030
11618    2021-01-31 20:13:31.8350
11619    2021-01-31 20:16:05.4700
11620    2021-01-31 21:05:05.2090
11621                         NaN
Name: starttime, Length: 11622, dtype: object
pri
0        2021-01-01 00:08:01.7770
1        2021-01-01 00:49:16.0830
2        2021-01-01 00:48:12.5660
3        2021-01-01 00:44:22.9430
4        2021-01-01 00:45:48.7740
                   ...
11617    2021-01-31 20:12:12.6890
11618    2021-01-31 20:19:05.5830
11619    2021-01-31 20:57:22.0110
11620    2021-01-31 21:07:32.8660
11621                         NaN
Name: stoptime, Length: 11622, dtype: object
pri

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30081,1054,2020-10-31 23:32:22.8650,2020-10-31 23:49:57.5320,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,0
30082,156,2020-10-31 23:33:22.7310,2020-10-31 23:35:59.4930,3185,City Hall,40.717732,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,1
30083,1858,NaN,NaN,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,1
30084,1809,NaN,NaN,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,45341,Subscriber,1999,1
30085,395,NaN,NaN,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,1

In [30]:
February

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876,3F8FD9A051C0E3DA,docked_bike,2021-02-24 18:05:45,2021-02-24 18:12:27,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
4877,B91F3593C0C06D04,docked_bike,2021-02-22 18:22:04,2021-02-22 18:28:45,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
4878,A790954A017D07CB,docked_bike,2021-02-13 12:21:49,2021-02-13 12:27:51,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
4879,42B1932D06CEE034,docked_bike,2021-02-25 11:20:29,2021-02-25 11:25:23,Columbus Drive,JC014,Morris Canal,JC072,40.718355,-74.038914,40.712419,-74.038526,member
4880,F71732ECE7CD02CF,docked_bike,2021-02-19 13:59:22,2021-02-19 14:05:47,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member

In [31]:
January

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11619,2476,2021-01-31 20:16:05.4700,2021-01-31 20:57:22.0110,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,44852,Subscriber,1958,1
11620,147,2021-01-31 21:05:05.2090,2021-01-31 21:07:32.8660,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,46538,Subscriber,1972,1
11621,660,2021-01-31 21:06:23.5880,2021-01-31 21:17:23.8420,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,44398,Subscriber,1987,2
11622,384,2021-01-31 21:16:37.8220,2021-01-31 21:23:02.1240,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,41400,Subscriber,1989,1
11623,356,2021-01-31 23:24:50.8810,2021-01-31 23:30:47.3030,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,43766,Subscriber,1994,1